.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #568896;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient-bg {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  border-radius: 15px;
  color: white;
}
.header-custom {
  background-color: #5a55a3;
  padding: 10px 20px;
  border-radius: 10px;
}

.input-custom {
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.button-custom {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4c0557;
  color: white;
  cursor: pointer;
}




.btn:hover {
  background-color: #5083f3;
}
.bg-custom-purple {
  background-color: #8423a1; 
}



